@font-face {
  font-family: 'Oswald-Light';
  font-weight: 300;
  font-style: normal;
  src: local('Oswald-Light'),
       url('./fonts/Oswald-Light.woff2') format('woff2'),
       url('./fonts/Oswald-Light.woff') format('woff'),
       url('./fonts/Oswald-Light.ttf') format('ttf'),
       url('./fonts/Oswald-Light.eot') format('eot');
  font-display: swap;
}

@font-face {
  font-family: 'Oswald-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Oswald-Regular'),
       url('./fonts/Oswald-Regular.woff2') format('woff2'),
       url('./fonts/Oswald-Regular.woff') format('woff'),
       url('./fonts/Oswald-Regular.ttf') format('ttf'),
       url('./fonts/Oswald-Regular.eot') format('eot');
  font-display: swap;
}