@use "config/vars" as *;

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
  @extend %oswald-300;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: normal;
  color: $default;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 197px;
  width: 100%;
  height: 53px;

  &__img {
    object-fit: contain;
  }
}

.title {
  position: relative;
  display: inline-block;
  font-size: 36px;
  @extend %oswald-400;
  text-transform: uppercase;
  color: $bg;

  &--line::after { 
    content: '';
    position: absolute;
    top: 41%;
    right: -85px;
    width: 80px;
    height: 3px;
    background-color: $bg;
  }
}

.subtitle {
  font-size: 24px;
  @extend %oswald-300;
  color: $accent;
}

.btn {
  display: block;
  max-width: 250px;
  width: 100%;
  padding: 15px 0;
  @extend %oswald-400;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: $white;
  background-color: $accent;
  border: 1px solid $accent;
  overflow: hidden;
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color: $accent;
    background-color: $white;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}
