@use "config/vars" as *;

.footer {
  background-color: $bg;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }

  &__logo {
  }

  &__social {
  }

  &__link {
    padding: 5px 0;
    color: $white;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;

    &:hover {
      border-bottom: 1px solid $white;
    }
  }
}
