@use "config/vars" as *;

.header {
  position: relative;
  min-height: 700px;
  margin-bottom: 200px;
  background-color: $bg;
  background-position: center center;
  background-size: cover;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    margin-bottom: 70px;
  }

  &__top-phone {
    font-size: 36px;
    color: $white;
  }

  &__bottom {
    color: $white;
  }

  &__title {
    font-size: 72px;
    color: $white;
  }

  &__decr {
    margin-bottom: 30px;
    font-size: 36px;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__btn {
    margin-bottom: 70px;
  }

  &__social {
    max-width: 250px;
    width: 100%;
  }

  &__img {
    position: absolute;
    right: 200px;
    bottom: -200px;
    max-width: 841px;
    max-height: 462px;
  }
}
