<footer class="footer">
  <div class="container">
    <div class="footer__box">
      <div class="footer__logo logo">
        <a class="logo__link" href="#">
          <img class="logo__img" src="images/logo.svg" alt="AUTO EXPRESS" />
        </a>
      </div>
      <ul class="footer__social social">
        <li class="social__item">
          <a class="social__link" href="#">
            <img
              class="social__img"
              src="images/icons/instagram.svg"
              alt="instagram"
            />
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href=" #">
            <img
              class="social__img"
              src="images/icons/telegram.svg"
              alt="telegram"
            />
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">
            <img
              class="social__img"
              src="images/icons/whatsapp.svg"
              alt="whatsapp"
            />
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">
            <img
              class="social__img"
              src="images/icons/facebook.svg"
              alt="facebook"
            />
          </a>
        </li>
      </ul>
      <div class="footer__text">
        <p>
          Политика конфиденциальности
        </p>
      </div>
    </div>
  </div>
</footer>
