<header class="header">
  <div class="wrapper">
    <div class="container">
      <div class="header__top logo">
        <a class="logo__link" href="#">
          <img class="logo__img" src="images/logo.svg" alt="AUTO EXPRESS">
        </a>
        <a class="header__top-phone" href="tel:+380505556677">+38 (050) 555 66 77</a>
      </div>
      <div class="header__bottom">
        <h1 class="header__title title">авто из сша “под ключ”</h1>
        <div class="header__decr">
          <p>
            закажи себе авто из сша с выгодой до 40%
          </p>
        </div>
        <div class="header__text">
          <p>
            Подбор, покупка, доставка, растаможка, ремонт, оформление по договору
          </p>
        </div>
        <a class="header__btn btn" href="#">консультация эксперта</a>
        <ul class="header__social social">
          <li class="social__item">
            <a class="social__link" href="#">
              <img class="social__img" src="images/icons/instagram.svg" alt="instagram">
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#">
              <img class="social__img" src="images/icons/telegram.svg" alt="telegram">
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#">
              <img class="social__img" src="images/icons/whatsapp.svg" alt="whatsapp">
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#">
              <img class="social__img" src="images/icons/facebook.svg" alt="facebook">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>