@media (max-width: 992px) {
  .title {
    font-size: 30px;
  }

  .header {
    &__img {
      max-height: 330px;
    }
  }
  .services {
    &__box {
      flex-direction: column;
    }

    &__content {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }

    &__list {
      max-width: 100%;
    }

    &__item {
      max-width: 90%;
    }
  }
  .about {
    &__img {
      max-width: 250px;
      margin-right: 30px;
    }

    &__title {
      padding-left: 75px;
    }

    &__list {
      padding-left: 75px;
    }

    &__value {
      font-size: 30px;
    }

    &__text {
      margin-bottom: 20px;
    }
  }
  .slider {
    margin-bottom: 75px;

    &__title {
      margin-bottom: 25px;
    }

    &__list {
      padding-bottom: 30px;

      .slick-track {
        display: flex;
        gap: 5px;
      }
    }

    &__item {
      margin: auto;
      padding: 0;
    }

    &__img {
      max-width: none;
    }

    &__name {
      padding: 0 5px;
      text-align: center;
    }

    &__sale {
      padding: 0 5px;
      text-align: center;
    }
  }
  .contacts {
    &__wrapper {
    }

    &__blog {
    }

    &__title {
    }

    &__list {
    }

    &__item {
    }

    &__subtitle {
    }

    &__adress {
    }

    &__text {
    }

    &__phone {
    }

    &__application {
    }

    &__form {
    }

    &__label {
    }

    &__input {
    }

    &__btn {
    }
  }
}
