@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .logo {
    max-width: 170px;
  }
  .title {
    font-size: 24px;
  }
  .title--line {
    &::after {
      top: 50%;
      right: -55px;
      width: 50px;
      height: 2px;
    }
  }

  .header {
    min-height: 500px;
    margin-bottom: 75px;

    &__top {
      padding: 20px 0;
      margin-bottom: 50px;
    }

    &__top-phone {
      font-size: 24px;
    }

    &__title {
      font-size: 44px;
    }

    &__decr {
      margin-bottom: 20px;
      font-size: 24px;
    }

    &__btn {
      margin-bottom: 30px;
    }

    &__img {
      right: 0px;
      max-height: 230px;
    }
  }

  .services {
    margin-bottom: 75px;

    &__title {
      margin-bottom: 25px;
    }

    &__box {
      margin-bottom: 25px;
    }

    &__content {
      gap: 15px;
    }

    &__text :not(:last-child) {
      margin-bottom: 5px;
    }

    &__item {
      max-width: 100%;
    }

    &__item-num {
      font-size: 30px;
    }

    &__item-title {
      font-size: 22px;
    }
  }
  .about {
    margin-bottom: 75px;

    &__wrapper {
      flex-direction: column-reverse;
      align-items: center;
      gap: 20px;
    }

    &__img {
      max-width: 200px;
      margin: 0;
    }

    &__title {
      margin-bottom: 25px;
      padding: 0;
    }

    &__list {
      padding: 25px;
    }

    &__item {
      max-width: 100%;
    }

    &__value {
      display: inline-block;
      font-size: 22px;
    }

    &__subtitle {
      display: inline-block;
      font-size: 22px;
    }

    &__text {
      margin-bottom: 10px;
    }
  }
  .slider {
    &__list {
      margin-bottom: 50px;
    }

    &__item {
      font-size: 14px;
    }

    &__img {
      margin-bottom: 15px;
    }
  }
  .contacts {
    &__list {
      padding-top: 10px;
    }

    &__application {
      padding: 40px;
    }

    &__input {
      height: 65px;
    }
  }
  .footer {
    &__box {
      flex-direction: column;
      gap: 15px;
    }

    &__logo {
      max-width: 150px;
    }
  }
}
