@media (max-width: 440px) {
  .logo {
    &__img {
      max-width: 110px;
    }
  }
  .title {
    font-size: 20px;
  }
  .title--line {
    &::after {
      right: -40px;
      width: 35px;
    }
  }

  .header {
    margin-bottom: 50px;
    min-height: auto;

    &__top-phone {
      font-size: 16px;
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    &__title {
      font-size: 26px;
    }

    &__decr {
      font-size: 15px;
    }

    &__text {
      text-align: center;
    }

    &__social {
      margin-bottom: 25px;
      padding: 15px 0;
    }

    &__img {
      display: none;
    }
  }

  .services {
    margin-bottom: 50px;

    &__content {
      margin-bottom: 15px;
    }

    &__item {
      min-height: 60px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__item-num {
      margin: 0px 15px 0 15px;
      font-size: 20px;
    }

    &__btn {
      margin: 0 auto;
    }
  }
  .about {
    margin-bottom: 50px;

    &__img {
      display: none;
    }
  }
  .slider {
    margin-bottom: 50px;

    &__list {
      margin-bottom: 0;
    }

    &__item {
      max-width: 100%;
    }
  }
}
