@media (max-width: 440px) {
  .logo {
    max-width: 110px;
  }
  .title {
    font-size: 20px;
  }
  .title--line {
    &::after {
      right: -40px;
      width: 35px;
    }
  }
  .social {
    &__img {
      width: 18px;
      height: 18px;
    }
  }

  .header {
    margin-bottom: 50px;

    min-height: 440px;

    &__top {
      margin-bottom: 15px;
    }

    &__top-phone {
      font-size: 16px;
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      font-size: 26px;
    }

    &__decr {
      font-size: 15px;
    }

    &__text {
      text-align: center;
    }

    &__btn {
      margin-bottom: 20px;
    }

    &__img {
      right: 10px;
      bottom: -30px;
      max-height: 130px;
    }
  }

  .services {
    margin-bottom: 50px;

    &__content {
      margin-bottom: 15px;
    }

    &__item {
      min-height: 60px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__item-num {
      margin: 0px 15px 0 15px;
      font-size: 20px;
    }

    &__btn {
      margin: 0 auto;
    }
  }
  .about {
    margin-bottom: 50px;
    
    &__wrapper {
    }

    &__img {
      display: none;
    }

    &__box {
    }

    &__title {
    }

    &__list {
    }

    &__item {
    }

    &__value {
    }

    &__subtitle {
    }

    &__text {
    }
  }
  .slider {
    &__title {
    }

    &__list {
    }

    &__item {
    }

    &__img {
    }

    &__name {
    }

    &__sale {
    }
  }
  .contacts {
    &__wrapper {
    }

    &__blog {
    }

    &__title {
    }

    &__list {
    }

    &__item {
    }

    &__subtitle {
    }

    &__adress {
    }

    &__text {
    }

    &__phone {
    }

    &__application {
    }

    &__form {
    }

    &__label {
    }

    &__input {
    }

    &__btn {
    }
  }
  .footer {
    &__box {
    }

    &__logo {
    }

    &__social {
    }

    &__link {
    }
  }
}
