@media (max-width: 1200px) {
  .header {
    &__top-phone {
      font-size: 30px;
    }

    &__title {
      font-size: 60px;
    }

    &__decr {
      font-size: 30px;
    }

    &__btn {
      margin-bottom: 40px;
    }
  }

  .services {
    padding-top: 50px;

    &__box {
      justify-content: space-between;
    }

    &__content {
      max-width: 400px;
      margin-right: 50px;
    }
  }
  .about {
    &__title {
      padding-left: 150px;
    }

    &__list {
      padding: 30px 0 25px 150px;
    }
  }
}
