@media (max-width: 1400px) {
  .header {
    margin-bottom: 100px;

    &__img {
      right: 25px;
      bottom: -100px;
      max-height: 400px;
    }
  }
  .slider {
    &__list {
      .slick-track {
        display: flex;
        gap: 10px;
      }
    }
  }
}
